<%- include('../partials/base') %>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8">
                <div class="jumbotron bg-primary text-white my-5">
                    <h1>Congratulaions Login Succesfull</h1>
                    <a href="/"><button class="btn btn-danger mt-3">Go Back</button></a>
                </div>
            </div>
        </div>
    </div>